In [1]:
import sys
import os
import pandas as pd

# Caminho at√© a raiz do projeto (a pasta que cont√©m "titulospub/")
caminho_raiz = os.path.abspath("Z:\\Chila\\projetos\\calculadora_titulos_publicos")
if caminho_raiz not in sys.path:
    sys.path.append(caminho_raiz)


from titulospub import *

In [2]:
vm = VariaveisMercado()
vm.atualizar_tudo()

üîÑ Atualizando vari√°veis de mercado...
üì° Buscando feriados via scraping...
üì° Calculando IPCA dict...
üì° Buscando CDI...
üì° Realizando scraping ANBIMA...
‚ôªÔ∏è Cache salvo para todos os t√≠tulos ANBIMA.
üì° Realizando scraping BMF...
‚ôªÔ∏è Cache salvo para todos os contrados de DI e DAP.
üì° Realizando scraping VNA_LFT...
‚ôªÔ∏è Cache salvo para VNA_LFT.
‚úÖ Atualiza√ß√£o conclu√≠da.

In [3]:
vm._vna_lft

17353.385318

In [25]:
di_df = vm._bmf["DI"]
di_df.head(3)

        DATA DATA_VENCIMENTO      DI     ADJ
0 2025-09-08      2025-10-01  DI1V25  14.904
1 2025-09-08      2025-11-03  DI1X25  14.906
2 2025-09-08      2025-12-01  DI1Z25  14.903

In [6]:
vm._anbimas["NTN-B"]

   TITULO       DATA VENCIMENTO  ANBIMA           PU
0   NTN-B 2025-09-11 2026-08-15  9.5223  4422.787870
1   NTN-B 2025-09-11 2027-05-15  8.4846  4461.452219
2   NTN-B 2025-09-11 2028-08-15  7.9385  4342.515000
3   NTN-B 2025-09-11 2029-05-15  7.7696  4388.433168
4   NTN-B 2025-09-11 2030-08-15  7.7488  4256.594223
5   NTN-B 2025-09-11 2032-08-15  7.7170  4166.363798
6   NTN-B 2025-09-11 2033-05-15  7.6697  4213.788075
7   NTN-B 2025-09-11 2035-05-15  7.5674  4169.330651
8   NTN-B 2025-09-11 2040-08-15  7.3156  4048.551624
9   NTN-B 2025-09-11 2045-05-15  7.2846  4052.112755
10  NTN-B 2025-09-11 2050-08-15  7.2299  3949.928726
11  NTN-B 2025-09-11 2055-05-15  7.2139  3988.466054
12  NTN-B 2025-09-11 2060-08-15  7.2361  3881.223860

In [26]:
di_df["DIAS_VENCIMENTO"] = di_df.apply(lambda row: dias_trabalho_total(
                                                                     pd.Timestamp.today().normalize(),
                                                                     row["DATA_VENCIMENTO"]
                                                                      ),axis=1)

In [44]:
from scipy.interpolate import CubicSpline
import pandas as pd
from titulospub.utils.datas import dias_trabalho_total

def spline_cubica(dias: any, curva_di_df: pd.DataFrame = None, di_lim: str = None):
    """
    Fun√ß√£o para interpola√ß√£o c√∫bica da curva DI
    
    Args:
        dias: Lista de dias para interpola√ß√£o ou valor √∫nico
        curva_di_df: DataFrame com a curva DI (opcional)
        di_lim: Limite da curva DI (opcional)
    
    Returns:
        Lista com as taxas interpoladas
    """
    
    if curva_di_df is None:
        from titulospub import VariaveisMercado
        curva_di_df = VariaveisMercado().get_bmf()["DI"]
    
    if di_lim is None:
        # Corrigido: pega o valor √∫nico da Series
        di_lim = curva_di_df.tail(1)["DI"].iloc[0]
        
    di_df = curva_di_df.copy()
    di_df["DIAS_VENCIMENTO"] = di_df.apply(lambda row: dias_trabalho_total(
                                                                     pd.Timestamp.today().normalize(),
                                                                     row["DATA_VENCIMENTO"]
                                                                      ), axis=1)

    # Corrigido: verifica se di_lim existe na coluna DI
    if di_lim not in di_df["DI"].values:
        raise ValueError(f"DI limit '{di_lim}' n√£o encontrado na curva")
    
    di_df_corte = di_df[di_df.index <= di_df[di_df["DI"] == di_lim].index[0]]

    x = di_df_corte["DIAS_VENCIMENTO"]
    y = di_df_corte["ADJ"]

    interpolacao = CubicSpline(x=x, y=y, bc_type='natural')

    taxas_resultado = []

    # Pega o √∫ltimo valor da curva (maior dia de vencimento)
    max_dias_curva = di_df_corte["DIAS_VENCIMENTO"].max()
    taxa_ultima_curva = di_df_corte.loc[di_df_corte["DIAS_VENCIMENTO"] == max_dias_curva, "ADJ"].iloc[0]

    # Converte para lista se for um √∫nico valor
    if isinstance(dias, (float, int)):
        dias = [dias]

    for dia in dias:
        if dia >= max_dias_curva:
            # Se o dia for maior que o m√°ximo da curva, usa o √∫ltimo valor
            taxas_resultado.append(taxa_ultima_curva)
        else:
            # Se estiver dentro da curva, usa a interpola√ß√£o
            taxa_interpolada = interpolacao(dia)
            taxas_resultado.append(taxa_interpolada)

    return taxas_resultado

In [45]:
# Teste da fun√ß√£o corrigida
try:
    resultado = spline_cubica(dias=[1793, 2408, 3317])
    print("‚úÖ Fun√ß√£o executada com sucesso!")
    print(f"Resultado: {resultado}")
except Exception as e:
    print(f"‚ùå Erro: {e}")
    import traceback
    traceback.print_exc()

‚úÖ Usando cache existente de BMF completo.
‚úÖ Fun√ß√£o executada com sucesso!
Resultado: [array(13.65381258), array(13.69919554), array(13.55954347)]

In [46]:
# Teste adicional com par√¢metros espec√≠ficos
try:
    # Teste com di_lim espec√≠fico
    resultado_lim = spline_cubica(dias=[1070, 2005, 3150], di_lim="DI1F35")
    print("‚úÖ Teste com di_lim executado com sucesso!")
    print(f"Resultado com di_lim: {resultado_lim}")
    
    # Teste com valor √∫nico
    resultado_unico = spline_cubica(dias=2000)
    print("‚úÖ Teste com valor √∫nico executado com sucesso!")
    print(f"Resultado √∫nico: {resultado_unico}")
    
except Exception as e:
    print(f"‚ùå Erro no teste adicional: {e}")
    import traceback
    traceback.print_exc()

‚úÖ Usando cache existente de BMF completo.
‚úÖ Teste com di_lim executado com sucesso!
Resultado com di_lim: [array(13.3288576), array(13.67652277), np.float64(13.703)]
‚úÖ Usando cache existente de BMF completo.
‚úÖ Teste com valor √∫nico executado com sucesso!
Resultado √∫nico: [array(13.67507473)]

In [28]:
di_lim = "DI1F35"
di_df_corte = di_df[di_df.index <= di_df[di_df["DI"] == di_lim].index[0]]

In [29]:
di_df[di_df.index <= di_df[di_df["DI"] == di_lim].index[0]]

         DATA DATA_VENCIMENTO      DI     ADJ  DIAS_VENCIMENTO
0  2025-09-08      2025-10-01  DI1V25  14.904               16
1  2025-09-08      2025-11-03  DI1X25  14.906               39
2  2025-09-08      2025-12-01  DI1Z25  14.903               58
3  2025-09-08      2026-01-02  DI1F26  14.893               80
4  2025-09-08      2026-02-02  DI1G26  14.880              101
5  2025-09-08      2026-03-02  DI1H26  14.835              119
6  2025-09-08      2026-04-01  DI1J26  14.780              141
7  2025-09-08      2026-05-04  DI1K26  14.725              161
8  2025-09-08      2026-06-01  DI1M26  14.629              181
9  2025-09-08      2026-07-01  DI1N26  14.530              202
10 2025-09-08      2026-08-03  DI1Q26  14.425              225
11 2025-09-08      2026-09-01  DI1U26  14.326              246
12 2025-09-08      2026-10-01  DI1V26  14.215              267
13 2025-09-08      2026-12-01  DI1Z26  14.024              307
14 2025-09-08      2027-01-04  DI1F27  13.924              329
15 2025-09-08      2027-04-01  DI1J27  13.717              389
16 2025-09-08      2027-07-01  DI1N27  13.515              452
17 2025-09-08      2027-08-02  DI1Q27  13.463              474
18 2025-09-08      2027-10-01  DI1V27  13.374              517
19 2025-09-08      2028-01-03  DI1F28  13.241              580
20 2025-09-08      2028-04-03  DI1J28  13.174              643
21 2025-09-08      2028-07-03  DI1N28  13.163              704
22 2025-09-08      2028-10-02  DI1V28  13.179              768
23 2025-09-08      2029-01-02  DI1F29  13.179              828
24 2025-09-08      2029-04-02  DI1J29  13.215              889
25 2025-09-08      2029-07-02  DI1N29  13.265              952
26 2025-09-08      2029-10-01  DI1V29  13.297             1016
27 2025-09-08      2030-01-02  DI1F30  13.333             1077
28 2025-09-08      2030-04-01  DI1J30  13.367             1138
29 2025-09-08      2030-07-01  DI1N30  13.407             1200
30 2025-09-08      2030-10-01  DI1V30  13.445             1266
31 2025-09-08      2031-01-02  DI1F31  13.479             1329
32 2025-09-08      2032-01-02  DI1F32  13.603             1581
33 2025-09-08      2033-01-03  DI1F33  13.659             1833
34 2025-09-08      2034-01-02  DI1F34  13.683             2084
35 2025-09-08      2035-01-02  DI1F35  13.703             2332

In [35]:
x = di_df_corte["DIAS_VENCIMENTO"]
y = di_df_corte["ADJ"]

interpolacao = CubicSpline(x=x, y=y, bc_type='natural')

In [69]:
dias = [1070, 2005, 3150]
taxas_resultado = []

# Pega o √∫ltimo valor da curva (maior dia de vencimento)
max_dias_curva = di_df_corte["DIAS_VENCIMENTO"].max()
taxa_ultima_curva = di_df_corte.loc[di_df_corte["DIAS_VENCIMENTO"] == max_dias_curva, "ADJ"].iloc[0]

# Converte para lista se for um √∫nico valor
if isinstance(dias, (float, int)):
    dias = [dias]

for dia in dias:
    if dia >= max_dias_curva:
        # Se o dia for maior que o m√°ximo da curva, usa o √∫ltimo valor
        taxas_resultado.append(taxa_ultima_curva)
    else:
        # Se estiver dentro da curva, usa a interpola√ß√£o
        taxa_interpolada = interpolacao(dia)  # Passa o dia individual, n√£o a lista
        taxas_resultado.append(taxa_interpolada)

taxas_resultado

[array(13.35373635), array(13.72073748), np.float64(13.751)]

In [ ]:
class CURVA_DI:
    def __init__(self, data_vencimento_titulo: str, 
                       data_base: str=None, 
                       dias_liquidacao: int=1,
                       taxa: float=None,
                       quantidade=10000, 
                       cdi: float=None,  
                       feriados: list=None,
                       variaveis_mercado: VariaveisMercado | None = None):